<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cl_desk_admin.Properties.Settings.CLCARMELODBConnectionString"
            connectionString="Data Source=DESKTOP-4EK7VVO\SQLEXPRESS02;Initial Catalog=CLCARMELODB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
        <add name="cl_desk_admin.Properties.Settings.CLCARMELODBConnectionString1"
            connectionString="Data Source=JOSEABELCF\SQLEXPRESS;Initial Catalog=CLCARMELODB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		
	    <add name="cnn" 
			 connectionString="Data Source=LAPTOP-VUPRRTT2\SQLEXPRESS;Initial Catalog=CLCARMELODB;Integrated Security=True"
	         providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
